body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 100vh;

    background-color: lightgreen;
    background-image: url('../img/background.png');

    user-select: none;
}

.banner {
    padding: 1.5rem;

    background-color: #e60012;
    

    color: #ffffff;
    text-shadow: 2px 2px 2px #000000; 
}

.banner__logo { 
    font-size: 3em;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.board {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 60px;
}

    

    .board__reset {
        margin: 1rem 0;
        padding: 1rem 2rem;
    
        border-radius: 1rem;
        border: none;
    
    
        background: rgb(56,55,55);
        background: -moz-radial-gradient(circle, rgba(56,55,55,1) 36%, rgba(57,57,57,1) 40%, rgba(57,54,54,1) 47%, rgba(20,20,20,1) 87%);
        background: -webkit-radial-gradient(circle, rgba(56,55,55,1) 36%, rgba(57,57,57,1) 40%, rgba(57,54,54,1) 47%, rgba(20,20,20,1) 87%);
        background: radial-gradient(circle, rgba(56,55,55,1) 36%, rgba(57,57,57,1) 40%, rgba(57,54,54,1) 47%, rgba(20,20,20,1) 87%);
    
        color: #f0f8ff;
        font-size: 1rem;
        font-weight: 500;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        letter-spacing: 0.1em;
        text-transform: uppercase;
        
    
        cursor: pointer;
    }

        .board__reset:hover,
        .board__reset:focus {
            filter: invert(1);

            transform: scale(1.1);
        }

    

.board__item {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: auto;

    background-color: #ffffff; /* Vermelho Mario */
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.3);

    transform: rotateY(180deg);
    transition: 0.25s;
}

.board__item::after {
    content: ""; 
    position: absolute;
    inset: 0;

    background: #dc291e;
    
    transition: 0.25s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
}

.board__item.boxOpen {
    transform: rotateY(0deg);
}

.board__item.boxOpen::after,
.board__item.boxMatch::after {
    transform: rotateY(180deg)
}

.board__item.boxMatch {
    filter: grayscale(100%);
}

.board__victory-message {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    border-radius: 10px;

    background-color: #ffffff;

    text-align: center;

    transform: translate(-50%, -50%);

}

.social-media {
    width: 100%;
    margin-top: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: 'Roboto', sans-serif;
    font-weight: 900;
   
    background-color: #f3c82c; /* Amarelo Mario */
    color: #000;
}

.social-media__links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;


    list-style: none;
}

.social-media__link {
    margin: 1rem 0;
    text-decoration: none;
    color: #000000;
}


@media (max-width: 767px) {
    .board__game {
        display: flex;
        flex-wrap: wrap;
        width: 250px;
        height: 250px;

        transform-style: preserve-3d;
        perspective: 300px;
    }

    .board__item {
        width: 60px;
        height: 60px;
        font-size: 1.5rem;
    }
}

@media (min-width: 767px) {
    .board__game {
        display: flex;
        flex-wrap: wrap;
        width: 430px;
        height: 430px;

        transform-style: preserve-3d;
        perspective: 500px;
    }

    .board__item {
        width: 90px;
        height: 90px;
        font-size: 3.4rem;
    }
}